@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth scroll-pt-[100px] antialiased;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-background text-text;
    font-family: 'Poppins', sans-serif;
  }
}


.animate-on-scroll {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 150ms;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}


.skip-to-content {
  @apply absolute -top-12 left-0 bg-accent text-primary p-2 font-semibold z-[10000] rounded-br-md transition-all duration-300;
}
.skip-to-content:focus {
  @apply top-0;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}