---

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Nosotros from '../components/Nosotros.astro';
import Servicios from '../components/Servicios.astro';
import Torneos from '../components/Torneos.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
    title="ProfutbolJC - Inicio | Alquiler de Canchas y Torneos." 
    description="Bienvenido a ProfutbolJC, tu complejo deportivo en [Tu Ciudad]. Reserva canchas de fútbol 5, 7 y 11, participa en nuestros torneos y disfruta con amigos."
>
    <Header />
    <main>
        <Hero />
        <Nosotros />
        <Servicios />
        <Torneos />
        <Contacto />
    </main>
    <Footer />
</Layout>