<section class="py-24 bg-background" id="torneos">
    <div class="container mx-auto px-6">
        <h2 class="text-5xl font-bold text-center mb-16 animate-slide-in-down">Próximos <span class="text-accent">Torneos</span></h2>
        <div class="max-w-5xl mx-auto space-y-12">
            <div class="bg-surface rounded-2xl shadow-xl overflow-hidden md:flex items-center transition-shadow duration-300 hover:shadow-2xl border border-border animate-fade-in" style="animation-delay: 0.2s;">
                <img alt="Jugadores en un torneo de fútbol" class="md:w-2/5 h-64 md:h-auto w-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuA7Upv5LCGYWl4-rE7T3a-_X2SZquxxXA_izG-_GZJxPBpHCH-SnmM9zlHpY3UttVQpcKQRphoPOhcCMcCpiLDs7SwVTnFG4ow543gzOj9254tV2KRSfAAgkdG3JrBSb-rfRTv5QxXQYr8XmjJ-W04qPz0Qvy-Xow7njbv9IQxDW3QAjZ1AHT_epX9SnoPPfWvxi12Z1oX8Fh5Bw65VaLHr_sscF318C7BxFhh4MBV8Ayagc3--FWKj1eD2gLYO2UMTu7LVcr7LuDY"/>
                <div class="p-8 md:p-10">
                    <p class="text-sm text-accent font-bold uppercase tracking-wider">Agosto 2024</p>
                    <h3 class="text-3xl font-bold mt-2 mb-4 text-text">Copa de Verano ProfutbolJC</h3>
                    <p class="text-subtle-text mb-6">¡Inscribe a tu equipo y compite por la gloria! Grandes premios y un ambiente inigualable. Categorías libre y veteranos.</p>
                    <a class="bg-accent text-white font-bold py-3 px-8 rounded-full hover:bg-opacity-90 transition duration-300 inline-block shadow-md shadow-accent/30" href="#">Más Información</a>
                </div>
            </div>
           
        </div>
    </div>
</section>